body {
    margin: 0;
    background-color: #FAFFCA;
    text-align: center;
}

h1 {
    margin: 40px 0px 0px 0px;

}

li {
    block-size: auto;
    font-size: 2cqi;
}

button {
    text-decoration: none;
    color: black;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    block-size: 30px;
}

button:hover {
    background-color: rgb(99, 99, 99, 0.4);
}

footer{
    color: grey;
    text-align: right;
}

img {
    height: 200px;
    width: 350px;
}

p {
    margin: auto;
    text-align: center;
}

nav {
    display: inline-block;
    margin: 0 20px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div{
    background-color: #5A827E;
    height: 40px;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: inline-block;
}

a {
    text-decoration: none;
}

a:hover { 
    color: red;
}

a.nav:link {
    color: #FAFFCA;

}
